@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0b2434;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

main {
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title {
    font-size: 3em;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.instructions {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2em;
    text-align: center;
    padding: 0 5px;
    letter-spacing: 2px;
}

.die {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    cursor: pointer;
    background-color: white;
    position: relative;
}
.timer {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 22px;
    font-weight: 900;
    background: #59e391;
    padding: 0 7px;
}

.score {
    position: absolute;
    top: 0;
    right: 0;
}

.best-time {
    font-weight: 500;
    background: lightgreen;
    padding: 0 5px;
}

.limit-time {
    padding-right: 5px;
}

/* making dot */
.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
.center-dot {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerLeft-dot {
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
}

.centerRight-dot {
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
}

.topRight-dot {
    top: 10px;
    right: 10px;
}

.topLeft-dot {
    top: 10px;
    left: 10px;
}

.bottomRight-dot {
    bottom: 10px;
    right: 10px;
}

.bottomLeft-dot {
    bottom: 10px;
    left: 10px;
}
/* making dot */

.die.held {
    background-color: #59e391;
}

.container {
    display: flex;
    width: 460px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .num {
    font-size: 2em;
} */

.roll {
    background-color: #5035ff;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border: none;
    font-size: 1.5em;
    padding: 7px 23px;
    border-radius: 5px;
    margin-top: 1em;
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.roll:hover {
    background-color: #3b26c1;
}

.dice {
    font-size: 20px;
    display: inline-block;
    animation: ani 1.5s infinite linear forwards;
}

@keyframes ani {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    main {
        width: 100%;
        height: 100vh;
    }
    .container {
        width: 100%;
    }
    .die {
        width: 50px;
        height: 50px;
    }

    .instructions {
        letter-spacing: 2px;
    }

    /* fixed dot */
    .topRight-dot {
        top: 7px;
        right: 7px;
    }

    .topLeft-dot {
        top: 7px;
        left: 7px;
    }

    .bottomRight-dot {
        bottom: 7px;
        right: 7px;
    }

    .bottomLeft-dot {
        bottom: 7px;
        left: 7px;
    }
    .centerLeft-dot {
        left: 12px;
    }
    .centerRight-dot {
        right: 2px;
    }
    /* fixed dot */
}

@media screen and (max-width: 412px) {
    .die {
        margin: 0.6em;
    }
}
